{{#partial "content"}}
    <h1 class="headings">WILDLIFE TRACKER</h1>
    <h2 class="headings">Welcome To Your All-Time Wildlife Tracker!</h2>
    <div class="col-12">
        <p>About
            A java spark application for wildlife tracking to both animals (plus the special
            record of endangered species)
            and sightings categories. Java's exception handling and
            database implementation fully upheld.</p>
    </div>
    <div class="col-12">
        <form action="/" method="post" name="wildlife tracker">
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}